.container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img{
    width: 40%;
    border-radius: 50%;
    border: 5px solid #FABB05;
    background-color: #31AA52;
    margin-bottom: 2rem;
}

.profile h1{
    margin: 1rem 0;
}